/* CSS Document for Screens */
<style>
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700');
</style>

body { font-family: 'Alegreya Sans', sans-serif; font-size: 16px; font-weight; 300; color: #000; margin: 0; border:0;}